# This can contain the license key.
distribution.norm.toml
license_key.txt
*.tar.gz
matomo_tmp/

__pycache__/
.cache/
.mypy_cache/
.pytest_cache/
.test_cache/
.ropeproject/
.venv/
/build/
dist/
*.egg-info/

*.py[cod]
*$py.class
