[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matomo-dl = {editable = true,extras = ["cache"],path = "."}

[requires]
python_version = "3.6"

[dev-packages]
black = "*"
bump2version = "*"
diffoscope = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-isort = "*"
flake8-pep3101 = "*"
flake8-pyi = "*"
isort = "*"
mypy = "*"
pytest = "*"
twine = "*"
pytest-click = "*"

[pipenv]
allow_prereleases = true
