[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matomo-dl = {editable = true, path = "."}
cattrs = "*"

[requires]
python_version = "3.6"

[dev-packages]
black = "*"
flake8 = "*"
flake8-bugbear = "*"
mypy = "*"
bandit = "*"

[pipenv]
allow_prereleases = true
